html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.contenedor-1 {
  max-width: 96rem;
  margin: 0 auto;
  background-color: rgb(204, 179, 142);
  padding: 6.1rem 3.6rem 0 3.6rem;
}

.fila-1 {
  display: flex;
  justify-content: space-between;
  gap: 7.8rem;
}

.celeste {
  width: 24.4rem;
  height: 24.4rem;
  background-color: #66c8ff;
}

.fila-2 {
  padding: 8.4rem 0;
  display: flex;
  justify-content: space-between;
  gap: 4.7rem;
}

.rosa-salmon-1 {
  width: 40.2rem;
  height: 24.4rem;
  background-color: #ff6666;
}
.rosa-salmon-2 {
  width: 43.9rem;
  height: 24.4rem;
  background-color: #ff6666;
}

.contenedor-2 {
  max-width: 96rem;
  margin: 0 auto;
  background-color: rgb(204, 179, 142);
  padding: 0 4.1rem 9.3rem 4.2rem;
}

.azul {
  width: 877px;
  height: 754px;
  background-color: #46599c;
  display: flex;
  flex-direction: column;
  gap: 7.4rem;
  padding: 9.6rem 26rem;
}

.rosa-palo {
  width: 35.7rem;
  height: 24.4rem;
  background-color: #de8080;
}
